.header {
  @include area(77vh, 100%);
  background-image: url("../images/donation0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head-content {
  @include area(auto, 60%);
  padding: $lg-pm;
  margin: $ex-pm 10%;
  line-height: 1.5;
}

.pri-btn {
  @include btn_formate(auto, auto, var(--orange), var(--white));
}

.sec-btn {
  @include btn_formate(auto, auto, var(--white), var(--orange));
  border: 1px solid var(--orange);
}
